
nav{

  background-color: aliceblue;
  .navbar-toggler{
   
    display: none;
  }
  a{
    height:40px;
    font-size: calc(10px + 1.5vw);
    
  }
  a.navbar-brand{
    padding:10px;
    text-decoration: none;
  background-color: aliceblue;
  }
  div{
    height:2vw;
    float:right;
    background-color: aliceblue;
    padding:none;
  }
  display: inline;
  li {
    display: inline;
  }
  li.active{
    font-weight: bold;
    a{
      text-decoration: none;
    }
  }
}
.main{
  margin:auto;
  width:80vw;
}
@media only screen and ( max-width:800px){
  nav{
    background-color: red;

    
    div#navbarToggler{
      display:none;
      *{
        display:none;
      }
    }
    .navbar-toggler{
      display: inline;
      background: black;
      min-width: 30px;
      .navbar-toggler-icon{
        height:100%;
        width:100%;
        background-image: url("assets/button.svg");
      }
    }
  
    div.open#navbarToggler{
      display:block;
      position: fixed;
      top:0;
      left:0;
      background: black;
      width:100vw;
      height:100vh;
      ul{
        display:block;
        position: fixed;
      top:0;
      left:0;
      background: black;
      width:100vw;
      width:100vh;
      
     
      li{
        width:50vw;
        margin-left:20vw;
        margin-right:29vw;
        display:block;
        *{
        display:block;
        text-align: center;
      }
      }
      }
      button.navbar-toggler{
        display:block;
        height:50px;
      width:50px;
      background: white;
      span{
        display:block;
        background-image: url("assets/button.svg");
      }
    }
  }


    
  
  }
}